<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        bootstrap="./vendor/autoload.php"
        colors="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        checkForUnintentionallyCoveredCode="true"
        beStrictAboutTestSize="true"
        beStrictAboutChangesToGlobalState="true"
        syntaxCheck="false"
>
    <testsuites>
        <testsuite name="Security">
            <directory suffix="Test.php">./Tests/</directory>
        </testsuite>
    </testsuites>

    <listeners>
            <listener class="\Mockery\Adapter\Phpunit\TestListener"></listener>
    </listeners>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>